body {
    background-color: ghostwhite;

}

.imgPhone {
    width: 250px;
    height:300px;
}

.videocard {
    display: flex;
    justify-content: center;
    text-align: center;
}

#categor{
    color: red;
}